<div class="container navBar">
    <button type="button" class="btn btn-secondary navButton" onclick="goToInfo()">Server Information</button>
    <button type="button" class="btn btn-secondary navButton" onclick="window.location.href='./api-docs'" >Endpoints Documentation</button>
    <button type="button" class="btn btn-secondary navButton" onclick="goToChat()">ChatBot Window</button>
    <hr />
</div>