NODE_ENV=**INSERT_VALUE**

PORT=**INSERT_VALUE**
SESSION_COOKIE_TIMEOUT_MIN=**INSERT_VALUE**

MONGO_LOCAL_DBNAME=**INSERT_VALUE**

MONGO_ATLAS_USER=**INSERT_VALUE**
MONGO_ATLAS_PASSWORD=**INSERT_VALUE**
MONGO_ATLAS_CLUSTER=**INSERT_VALUE**
MONGO_ATLAS_DBNAME=**INSERT_VALUE**

ETHEREAL_USERNAME=**INSERT_VALUE**
ETHEREAL_EMAIL=**INSERT_VALUE**
ETHEREAL_PASSWORD=**INSERT_VALUE**

GMAIL_USERNAME=**INSERT_VALUE**
GMAIL_EMAIL=**INSERT_VALUE**
GMAIL_PASSWORD=**INSERT_VALUE**